<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 4.1. Подзапросы</p> 

<a id = Home></a>

17 марта 2022 года, пн<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


21 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

31 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook</p>

1. С помощью подзапроса напишите запрос, выводящий список студентов, получающих максимальную стипендию, отсортировав его в алфавитном порядке по фамилиям.
2. С помощью подзапроса напишите запрос, выводящий список студентов, получающих стипендию, превышающую среднее значение стипендии.
3. С помощью подзапроса напишите запрос, выводящий список студентов, обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.
4. С помощью подзапроса напишите запрос, выводящий список предметов, на изучение которых отведено максимальное количество часов.
5. Напишите запрос, выполняющий вывод имен и фамилий студентов, место проживания которых не совпадает с городом, в котором находится их университет.
6. С помощью подзапроса напишите запрос, выводящий список университетов, расположенных в Москве и имеющих рейтинг больший, чем у ВГУ.

In [ ]:
#! pip install sqlalchemy

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func

In [2]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД
# Вызов метода reflect() приводит к включению в объект metadata_obj словаря всех таблиц БД.

Несколько примеров получения информации о БД с помощью методов объекта ***metadata_obj***.

In [3]:
# Таблицы в БД
metadata_obj.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

In [4]:
# Имя конкретной таблицы
metadata_obj.tables['student'].name

'student'

In [5]:
# Столбцы конкретной таблицы
metadata_obj.tables['student'].columns.keys()

['student_id',
 'surname',
 'name',
 'stipend',
 'kurs',
 'city',
 'birthday',
 'univ_id']

In [6]:
# Информация о столбце
metadata_obj.tables['student'].columns['student_id']

Column('student_id', INTEGER(), table=<student>, primary_key=True, nullable=False)

In [7]:
for t in metadata_obj.sorted_tables:
    print(t.name)

city
subject
university
lecturer
student
exam_marks
subj_lect

In [8]:
for t in metadata_obj.sorted_tables:
    print(t.name)
    for c in t.columns:
        print(c)
    print()

city
city.city_id
city.name

subject
subject.subj_id
subject.subj_name
subject.hour
subject.semester

university
university.univ_id
university.univ_name
university.rating
university.city

lecturer
lecturer.lecturer_id
lecturer.surname
lecturer.name
lecturer.city
lecturer.univ_id

student
student.student_id
student.surname
student.name
student.stipend
student.kurs
student.city
student.birthday
student.univ_id

exam_marks
exam_marks.exam_id
exam_marks.student_id
exam_marks.subj_id
exam_marks.mark
exam_marks.exam_date

subj_lect
subj_lect.lecturer_id
subj_lect.subj_id

Создание объектов таблиц

In [9]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

# Решение

In [10]:
conn=engine.connect() # Соединение

In [13]:
# Ваш код здесь

#1
# С помощью подзапроса напишите запрос, выводящий список студентов, получающих максимальную стипендию, 
# отсортировав его в алфавитном порядке по фамилиям

sq = select(func.max(student.c.stipend)).scalar_subquery()

s = select(student)
s = s.where(student.c.stipend == sq)
s = s.order_by(student.c.surname)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.stipend = (SELECT max(student.stipend) AS max_1
FROM student) ORDER BY student.surname
18

[(55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (91, 'Блохина', 'Ираида', 250, 3, 'Новый Уренгой', datetime.datetime(1997, 3, 23, 0, 0), 22),
 (149, 'Вячеслав', 'Пахомов', 250, 3, 'Игарка', datetime.datetime(1997, 5, 14, 0, 0), 14),
 (141, 'Ершов', 'Митрофан', 250, 5, 'Пятигорск', datetime.datetime(2001, 5, 28, 0, 0), 22),
 (64, 'Жук', 'Оксана', 250, 1, 'Воркута', datetime.datetime(2000, 11, 16, 0, 0), 47),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (68, 'Казакова', 'Ольга', 250, 4, 'Кемерово', datetime.datetime(2000, 3, 29, 0, 0), 44),
 (130, 'Кудряшов', 'Роман', 250, 4, 'Нижний Новгород', datetime.datetime(1997, 8, 26, 0, 0), 32),
 (92, 'Мельникова', 'Светлана', 250, 4, 'Кропоткин (Краснод.)', datetime.datetime(1998, 3, 24, 0, 0), 15),
 (107, 'Морозов', 'Кирилл', 250, 2, 'Кропоткин (Краснод.)', datetime.datetime(2000, 9, 29, 0, 0), 44),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (114, 'Панов', 'Арсений', 250, 1, 'Геленджик', datetime.datetime(1996, 12, 23, 0, 0), 32),
 (204, 'Петров', 'Вадим', 250, 2, 'Брянск', datetime.datetime(2002, 5, 21, 0, 0), 44),
 (203, 'Петрова', 'Екатерина', 250, 4, 'Белгород', datetime.datetime(2001, 5, 21, 0, 0), 14),
 (72, 'Пономарева', 'Алина', 250, 2, 'Ангарск', datetime.datetime(2002, 10, 7, 0, 0), 48),
 (146, 'Русаков', 'Давид', 250, 2, 'Байкальск', datetime.datetime(1998, 8, 7, 0, 0), 47),
 (110, 'Суханов', 'Константин', 250, 3, 'Курск', datetime.datetime(1996, 11, 22, 0, 0), 14),
 (103, 'Трофимов', 'Владислав', 250, 5, 'Верхоянск', datetime.datetime(1995, 3, 24, 0, 0), 11)]

In [18]:
# 2. С помощью подзапроса напишите запрос, выводящий список студентов, 
# получающих стипендию, превышающую среднее значение стипендии.

sq = select(func.avg(student.c.stipend)).scalar_subquery()

s = select(student.c.surname, student.c.name, func.date(student.c.birthday), student.c.stipend)
s = s.where(student.c.stipend > sq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name, date(student.birthday) AS date_1, student.stipend
FROM student
WHERE student.stipend > (SELECT avg(student.stipend) AS avg_1
FROM student)
60

[('Иванов', 'Иван', '2002-12-03', 150),
 ('Петров', 'Петр', '2000-12-01', 200),
 ('Сидоров', 'Вадим', '1999-06-07', 150),
 ('Зайцева', 'Ольга', '2001-05-01', 250),
 ('Котов', 'Павел', '2001-02-28', 150),
 ('Белкин', 'Вадим', '2000-01-07', 250),
 ('Дуб', 'Елизавета', '2004-07-04', 150),
 ('Жук', 'Оксана', '2000-11-16', 250),
 ('Некрасова', 'Вероника', '2004-08-23', 250),
 ('Казакова', 'Ольга', '2000-03-29', 250)]

In [22]:
# 3
# С помощью подзапроса напишите запрос, выводящий список студентов, 
# обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.

sq = select(university.c.univ_id)
sq = sq.where(university.c.city == 'Воронеж')

s = select(student)
s = s.where(student.c.univ_id.in_(sq))
s = s.order_by(student.c.univ_id)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.univ_id IN (SELECT university.univ_id
FROM university
WHERE university.city = :city_1) ORDER BY student.univ_id
22

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', datetime.datetime(2000, 12, 1, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (62, 'Семенова', 'Вероника', 0, 3, 'Вологда', datetime.datetime(2003, 10, 4, 0, 0), 10),
 (65, 'Сергеева', 'Фёкла', 100, 5, None, datetime.datetime(2000, 2, 19, 0, 0), 10),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (76, 'Мельникова', 'Дарья', 100, 5, 'Архангельск', datetime.datetime(2002, 8, 1, 0, 0), 10),
 (78, 'Агафонов', 'Василий', 150, 1, 'Грозный', datetime.datetime(1994, 10, 29, 0, 0), 10)]

In [26]:
# 5
#Напишите запрос, выполняющий вывод имен и фамилий студентов, место проживания которых 
#не совпадает с городом, в котором находится их университет.

sq = select(university.c.city)
sq = sq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(student)
s = s.where(student.c.city != sq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.city != (SELECT university.city
FROM university
WHERE university.univ_id = student.univ_id)
78

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', datetime.datetime(2000, 12, 1, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (56, 'Дуб', 'Елизавета', 150, 2, 'Усть-Кут', datetime.datetime(2004, 7, 4, 0, 0), 48),
 (57, 'Кудряшова', 'Вера', 100, 5, 'Нижневартовск', datetime.datetime(2002, 2, 18, 0, 0), 14),
 (60, 'Рожкова', 'Пелагея', 0, 3, 'Рубцовск', datetime.datetime(2001, 9, 15, 0, 0), 48),
 (61, 'Соколова', 'Ия', 100, 1, 'Колпашево', datetime.datetime(2002, 6, 25, 0, 0), 18),
 (62, 'Семенова', 'Вероника', 0, 3, 'Вологда', datetime.datetime(2003, 10, 4, 0, 0), 10),
 (63, 'Пак', 'Ирина', 100, 1, 'Магадан', datetime.datetime(2000, 8, 22, 0, 0), 15),
 (64, 'Жук', 'Оксана', 250, 1, 'Воркута', datetime.datetime(2000, 11, 16, 0, 0), 47),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (68, 'Казакова', 'Ольга', 250, 4, 'Кемерово', datetime.datetime(2000, 3, 29, 0, 0), 44),
 (69, 'Шубина', 'Елена', 0, 2, 'Камень-на-Оби', datetime.datetime(2002, 8, 24, 0, 0), 45),
 (70, 'Миронова', 'Анна', 200, 2, 'Владикавказ', datetime.datetime(2000, 10, 8, 0, 0), 46),
 (71, 'Кондрат', 'Синицин', 200, 4, 'Ишим', datetime.datetime(2001, 2, 23, 0, 0), 18),
 (72, 'Пономарева', 'Алина', 250, 2, 'Ангарск', datetime.datetime(2002, 10, 7, 0, 0), 48),
 (73, 'Одинцова', 'Лидия', 100, 5, 'Верхний Баскунчак', datetime.datetime(2002, 3, 7, 0, 0), 44),
 (74, 'Гуляева', 'Рукижат', 0, 3, 'Невельск (Сахалин)', datetime.datetime(2002, 7, 23, 0, 0), 22),
 (75, 'Игнатова', 'Зинаида', 100, 5, 'Ростов', datetime.datetime(2000, 9, 26, 0, 0), 22),
 (76, 'Мельникова', 'Дарья', 100, 5, 'Архангельск', datetime.datetime(2002, 8, 1, 0, 0), 10),
 (77, 'Мишина', 'Светлана', 150, 2, 'Рыльск', datetime.datetime(1997, 5, 22, 0, 0), 18),
 (78, 'Агафонов', 'Василий', 150, 1, 'Грозный', datetime.datetime(1994, 10, 29, 0, 0), 10),
 (79, 'Афанасьева', 'Анжелика', 0, 2, 'Уфа', datetime.datetime(1996, 11, 22, 0, 0), 32),
 (80, 'Фролова', 'Василиса', 100, 3, 'Кисловодск', datetime.datetime(1999, 6, 2, 0, 0), 44),
 (82, 'Лапина', 'Элеонора', 150, 3, 'Джубга', datetime.datetime(1997, 11, 23, 0, 0), 45),
 (83, 'Сорокина', 'Ирина', 200, 3, 'Усмань', datetime.datetime(1993, 9, 28, 0, 0), 48),
 (85, 'Казакова', 'Мария', 150, 4, 'Нальчик', datetime.datetime(1994, 2, 18, 0, 0), 32),
 (86, 'Жукова', 'Фекла', 150, 3, 'Магадан', datetime.datetime(1998, 10, 6, 0, 0), 46),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10),
 (89, 'Валерия', 'Овчинникова', 200, 5, 'Улан-Удэ', datetime.datetime(2000, 6, 15, 0, 0), 18),
 (90, 'Костина', 'Кира', 0, 4, 'Устюжна', datetime.datetime(1995, 7, 15, 0, 0), 14),
 (91, 'Блохина', 'Ираида', 250, 3, 'Новый Уренгой', datetime.datetime(1997, 3, 23, 0, 0), 22),
 (92, 'Мельникова', 'Светлана', 250, 4, 'Кропоткин (Краснод.)', datetime.datetime(1998, 3, 24, 0, 0), 15),
 (94, 'Васильева', 'Оксана', 0, 1, 'Кизилюрт', datetime.datetime(1994, 5, 14, 0, 0), 32),
 (95, 'Сорокина', 'Валерия', 150, 1, 'Енисейск', datetime.datetime(1995, 3, 1, 0, 0), 45),
 (97, 'Вишнякова', 'Анжела', 200, 2, 'Иваново', datetime.datetime(2002, 2, 10, 0, 0), 46),
 (99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (101, 'Калашников', 'Евгений', 200, 2, 'Калининград', datetime.datetime(1998, 2, 27, 0, 0), 48),
 (103, 'Трофимов', 'Владислав', 250, 5, 'Верхоянск', datetime.datetime(1995, 3, 24, 0, 0), 11),
 (104, 'Бирюков', 'Герасим', 0, 4, 'Жуковский', datetime.datetime(1999, 10, 16, 0, 0), 44),
 (105, 'Антонов', 'Анатолий', 100, 1, 'Сыктывкар', datetime.datetime(1997, 4, 8, 0, 0), 22),
 (107, 'Морозов', 'Кирилл', 250, 2, 'Кропоткин (Краснод.)', datetime.datetime(2000, 9, 29, 0, 0), 44),
 (108, 'Назаров', 'Икром', 150, 4, 'Саянск', datetime.datetime(2001, 12, 15, 0, 0), 47),
 (110, 'Суханов', 'Константин', 250, 3, 'Курск', datetime.datetime(1996, 11, 22, 0, 0), 14),
 (112, 'Захаров', 'Софон', 150, 3, 'Мурманск', datetime.datetime(1994, 3, 19, 0, 0), 46),
 (113, 'Аксенов', 'Валерий', 150, 1, 'Мурманск', datetime.datetime(1994, 10, 27, 0, 0), 10),
 (114, 'Панов', 'Арсений', 250, 1, 'Геленджик', datetime.datetime(1996, 12, 23, 0, 0), 32),
 (116, 'Федоров', 'Гостомысл', 100, 4, 'Новый Уренгой', datetime.datetime(2000, 11, 16, 0, 0), 10),
 (117, 'Лазарев', 'Константин', 100, 2, 'Славянск-на-Кубани', datetime.datetime(1998, 5, 22, 0, 0), 47),
 (118, 'Кондратьев', 'Николай', 150, 3, 'Ханты-Мансийск', datetime.datetime(1999, 10, 28, 0, 0), 14),
 (121, 'Воронова', 'Антонина', 0, 4, 'Усть-Джегута', datetime.datetime(1999, 2, 4, 0, 0), 46),
 (123, 'Веселов', 'Тимур', 150, 1, 'Невинномысск', datetime.datetime(1998, 4, 28, 0, 0), 11),
 (124, 'Юдин', 'Савва', 0, 2, 'Усинск', datetime.datetime(2001, 12, 2, 0, 0), 18),
 (125, 'Пономарев', 'Варфоромей', 200, 4, 'Улан-Удэ', datetime.datetime(2000, 12, 15, 0, 0), 44),
 (126, 'Жуков', 'Пров', 0, 3, 'Кыштым', datetime.datetime(1998, 9, 11, 0, 0), 11),
 (128, 'Васильев', 'Матвей', 100, 1, 'Чебоксары', datetime.datetime(2000, 7, 18, 0, 0), 46),
 (130, 'Кудряшов', 'Роман', 250, 4, 'Нижний Новгород', datetime.datetime(1997, 8, 26, 0, 0), 32),
 (131, 'Ковалев', 'Ефим', 200, 2, 'Волгоград', datetime.datetime(1995, 11, 28, 0, 0), 47),
 (133, 'Жуковский', 'Юрий', 150, 4, 'Сургут (Хант.)', datetime.datetime(1996, 5, 30, 0, 0), 22),
 (135, 'Комаров', 'Ипат', 0, 1, 'Нерчинск', datetime.datetime(2000, 7, 17, 0, 0), 14),
 (136, 'Ефимов', 'Яков', 200, 1, 'Тимашевск', datetime.datetime(2000, 9, 23, 0, 0), 32),
 (137, 'Кулаков', 'Феофан', 150, 3, 'Волоколамск', datetime.datetime(2001, 3, 14, 0, 0), 46),
 (139, 'Журавлев', 'Фома', 200, 2, 'Улан-Удэ', datetime.datetime(1997, 7, 12, 0, 0), 18),
 (140, 'Ширяев', 'Андрей', 150, 2, 'Джубга', datetime.datetime(1997, 9, 13, 0, 0), 46),
 (141, 'Ершов', 'Митрофан', 250, 5, 'Пятигорск', datetime.datetime(2001, 5, 28, 0, 0), 22),
 (143, 'Бирюков', 'Мартин', 100, 4, 'Курганинск', datetime.datetime(2000, 11, 14, 0, 0), 47),
 (144, 'Ситников', 'Викентий', 150, 5, 'Иркутск', datetime.datetime(2003, 10, 5, 0, 0), 46),
 (146, 'Русаков', 'Давид', 250, 2, 'Байкальск', datetime.datetime(1998, 8, 7, 0, 0), 47),
 (147, 'Симонов', 'Семен', 100, 5, 'Беломорск', datetime.datetime(2000, 3, 17, 0, 0), 22),
 (148, 'Гуляев', 'Кузьма', 150, 5, 'Корсаков', datetime.datetime(1999, 10, 13, 0, 0), 44),
 (149, 'Вячеслав', 'Пахомов', 250, 3, 'Игарка', datetime.datetime(1997, 5, 14, 0, 0), 14),
 (201, 'Архипов', 'Андрей', 180, 1, 'Орел', datetime.datetime(2000, 1, 28, 0, 0), 22),
 (202, 'Владимиров', 'Анатолий', 200, 2, 'Курск', datetime.datetime(2003, 5, 21, 0, 0), 14),
 (204, 'Петров', 'Вадим', 250, 2, 'Брянск', datetime.datetime(2002, 5, 21, 0, 0), 44),
 (205, 'Иванова', 'Мария', 200, 1, 'Липецк', datetime.datetime(2002, 4, 11, 0, 0), 32),
 (206, 'Киселев', 'Владимир', 210, 2, 'Орел', datetime.datetime(2003, 2, 10, 0, 0), 44),
 (276, 'Петров', 'Антон', 200, 4, 'Ульяновск', datetime.datetime(2001, 8, 5, 0, 0), 22)]

# Домашнее задание

1. Выполнить отображение БД Chinook

<img src="../Img/chinook_ERD.png" style="width:100%">

2. Выполнить запросы с помощью подзапросов.

2.1. Составьте запрос, выполняющий вывод информации о счетах клиентов из Бразилии. Результат должен содержать фамилию и имя клиента, идентификатор счета, дату выставления счета, название страны плательщика (Billing Country).

2.2. Покажите сотрудников, подчиняющихся сотруднику *Nancy Edwards*.

2.3. Покажите трэки в жанре *Classical*, длящиеся более 8 минут.

2.4. Покажите альбомы, в составе которых более 25 трэков.

2.5. Покажите жанры, в составе которых имеются трэки, длящиеся более 18 минут.

2.6. Покажите артистов в жанре *Classical*.

2.7. Найдите артистов, записавших альбомы, в которых более 20 произведений.