<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 4.1. Подзапросы</p> 

<a id = Home></a>

17 марта 2022 года, пн<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


21 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

31 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook</p>

1. С помощью подзапроса напишите запрос, выводящий список студентов, получающих максимальную стипендию, отсортировав его в алфавитном порядке по фамилиям.
2. С помощью подзапроса напишите запрос, выводящий список студентов, получающих стипендию, превышающую среднее значение стипендии.
3. С помощью подзапроса напишите запрос, выводящий список студентов, обучающихся в Воронеже, с последующей сортировкой по идентификаторам университетов и курсам.
4. С помощью подзапроса напишите запрос, выводящий список предметов, на изучение которых отведено максимальное количество часов.
5. Напишите запрос, выполняющий вывод имен и фамилий студентов, место проживания которых не совпадает с городом, в котором находится их университет.
6. С помощью подзапроса напишите запрос, выводящий список университетов, расположенных в Москве и имеющих рейтинг больший, чем у ВГУ.

In [ ]:
#! pip install sqlalchemy

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func

In [2]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД
# Вызов метода reflect() приводит к включению в объект metadata_obj словаря всех таблиц БД.

In [20]:
from datetime import datetime

Несколько примеров получения информации о БД с помощью методов объекта ***metadata_obj***.

In [3]:
# Таблицы в БД
metadata_obj.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

In [4]:
# Имя конкретной таблицы
metadata_obj.tables['student'].name

'student'

In [5]:
# Столбцы конкретной таблицы
metadata_obj.tables['student'].columns.keys()

['student_id',
 'surname',
 'name',
 'stipend',
 'kurs',
 'city',
 'birthday',
 'univ_id']

In [6]:
# Информация о столбце
metadata_obj.tables['student'].columns['student_id']

Column('student_id', INTEGER(), table=<student>, primary_key=True, nullable=False)

In [7]:
for t in metadata_obj.sorted_tables:
    print(t.name)

city
subject
university
lecturer
student
exam_marks
subj_lect

In [8]:
for t in metadata_obj.sorted_tables:
    print(t.name)
    for c in t.columns:
        print(c)
    print()

city
city.city_id
city.name

subject
subject.subj_id
subject.subj_name
subject.hour
subject.semester

university
university.univ_id
university.univ_name
university.rating
university.city

lecturer
lecturer.lecturer_id
lecturer.surname
lecturer.name
lecturer.city
lecturer.univ_id

student
student.student_id
student.surname
student.name
student.stipend
student.kurs
student.city
student.birthday
student.univ_id

exam_marks
exam_marks.exam_id
exam_marks.student_id
exam_marks.subj_id
exam_marks.mark
exam_marks.exam_date

subj_lect
subj_lect.lecturer_id
subj_lect.subj_id

In [12]:
type(metadata_obj)

sqlalchemy.sql.schema.MetaData

Создание объектов таблиц

In [15]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

# Решение

In [16]:
conn=engine.connect() # Соединение

In [34]:
# Ваш код здесь

#1 С помощью подзапроса напишите запрос, выводящий список студентов, 
# получающих максимальную стипендию, отсортировав его в алфавитном порядке по фамилиям.

subq = select(func.max(student.c.stipend)).scalar_subquery()

s = select(student.c.surname, student.c.name, 
           func.strftime("%Y-%m-%d",student.c.birthday), student.c.stipend)
s = s.where(student.c.stipend == subq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.surname, student.name, strftime(:strftime_2, student.birthday) AS strftime_1, student.stipend
FROM student
WHERE student.stipend = (SELECT max(student.stipend) AS max_1
FROM student)
18

[('Зайцева', 'Ольга', '2001-05-01', 250),
 ('Белкин', 'Вадим', '2000-01-07', 250),
 ('Жук', 'Оксана', '2000-11-16', 250),
 ('Некрасова', 'Вероника', '2004-08-23', 250),
 ('Казакова', 'Ольга', '2000-03-29', 250),
 ('Пономарева', 'Алина', '2002-10-07', 250),
 ('Блохина', 'Ираида', '1997-03-23', 250),
 ('Мельникова', 'Светлана', '1998-03-24', 250),
 ('Трофимов', 'Владислав', '1995-03-24', 250),
 ('Морозов', 'Кирилл', '2000-09-29', 250),
 ('Суханов', 'Константин', '1996-11-22', 250),
 ('Панов', 'Арсений', '1996-12-23', 250),
 ('Кудряшов', 'Роман', '1997-08-26', 250),
 ('Ершов', 'Митрофан', '2001-05-28', 250),
 ('Русаков', 'Давид', '1998-08-07', 250),
 ('Вячеслав', 'Пахомов', '1997-05-14', 250),
 ('Петрова', 'Екатерина', '2001-05-21', 250),
 ('Петров', 'Вадим', '2002-05-21', 250)]

In [36]:
# 2 С помощью подзапроса напишите запрос, выводящий список студентов,
# получающих стипендию, превышающую среднее значение стипендии.

subq = select(func.avg(student.c.stipend)).scalar_subquery()

s = select(student.c.surname, student.c.name, 
           func.date(student.c.birthday), student.c.stipend)
s = s.where(student.c.stipend > subq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name, date(student.birthday) AS date_1, student.stipend
FROM student
WHERE student.stipend > (SELECT avg(student.stipend) AS avg_1
FROM student)
60

[('Иванов', 'Иван', '2002-12-03', 150),
 ('Петров', 'Петр', '2000-12-01', 200),
 ('Сидоров', 'Вадим', '1999-06-07', 150),
 ('Зайцева', 'Ольга', '2001-05-01', 250),
 ('Котов', 'Павел', '2001-02-28', 150),
 ('Белкин', 'Вадим', '2000-01-07', 250),
 ('Дуб', 'Елизавета', '2004-07-04', 150),
 ('Жук', 'Оксана', '2000-11-16', 250),
 ('Некрасова', 'Вероника', '2004-08-23', 250),
 ('Казакова', 'Ольга', '2000-03-29', 250)]

In [39]:
# 3

sq = select(university.c.univ_id)
sq = sq.where(university.c.city == 'Воронеж')

s = select(student.c.surname, student.c.name, student.c.univ_id)
s = s.where(student.c.univ_id.in_(sq))

print(s, s.compile().params)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.surname, student.name, student.univ_id
FROM student
WHERE student.univ_id IN (SELECT university.univ_id
FROM university
WHERE university.city = :city_1) {'city_1': 'Воронеж'}
22

[('Иванов', 'Иван', 10),
 ('Петров', 'Петр', 10),
 ('Кузнецов', 'Борис', 10),
 ('Зайцева', 'Ольга', 10),
 ('Белкин', 'Вадим', 10),
 ('Соколова', 'Ия', 18),
 ('Семенова', 'Вероника', 10),
 ('Сергеева', 'Фёкла', 10),
 ('Некрасова', 'Вероника', 10),
 ('Кондрат', 'Синицин', 18),
 ('Мельникова', 'Дарья', 10),
 ('Мишина', 'Светлана', 18),
 ('Агафонов', 'Василий', 10),
 ('Жданова', 'Ирина', 10),
 ('Валерия', 'Овчинникова', 18),
 ('Борисова', 'Марина', 10),
 ('Аксенов', 'Валерий', 10),
 ('Федоров', 'Гостомысл', 10),
 ('Юдин', 'Савва', 18),
 ('Журавлев', 'Фома', 18),
 ('Павлов', 'Андрей', 10),
 ('Лукин', 'Артем', 10)]

In [42]:
# 4 С помощью подзапроса напишите запрос, выводящий список предметов, 
# на изучение которых отведено максимальное количество часов.

sq = select(func.max(subject.c.hour)).scalar_subquery()

s = select(subject)
s = s.where(subject.c.hour == sq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT subject.subj_id, subject.subj_name, subject.hour, subject.semester
FROM subject
WHERE subject.hour = (SELECT max(subject.hour) AS max_1
FROM subject)
1

[(23, 'Теория вероятностей и математическая статистика', 72, 4)]

In [48]:
# 5
# Напишите запрос, выполняющий вывод имен и фамилий студентов, 
# место проживания которых не совпадает с городом, в котором находится их университет.

sq = select(university.c.city)
sq = sq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(student.c.surname, student.c.name)
s = s.where(student.c.city != sq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.surname, student.name
FROM student
WHERE student.city != (SELECT university.city
FROM university
WHERE university.univ_id = student.univ_id)
78

[('Иванов', 'Иван'),
 ('Петров', 'Петр'),
 ('Кузнецов', 'Борис'),
 ('Зайцева', 'Ольга'),
 ('Дуб', 'Елизавета'),
 ('Кудряшова', 'Вера'),
 ('Рожкова', 'Пелагея'),
 ('Соколова', 'Ия'),
 ('Семенова', 'Вероника'),
 ('Пак', 'Ирина'),
 ('Жук', 'Оксана'),
 ('Некрасова', 'Вероника'),
 ('Казакова', 'Ольга'),
 ('Шубина', 'Елена'),
 ('Миронова', 'Анна'),
 ('Кондрат', 'Синицин'),
 ('Пономарева', 'Алина'),
 ('Одинцова', 'Лидия'),
 ('Гуляева', 'Рукижат'),
 ('Игнатова', 'Зинаида'),
 ('Мельникова', 'Дарья'),
 ('Мишина', 'Светлана'),
 ('Агафонов', 'Василий'),
 ('Афанасьева', 'Анжелика'),
 ('Фролова', 'Василиса'),
 ('Лапина', 'Элеонора'),
 ('Сорокина', 'Ирина'),
 ('Казакова', 'Мария'),
 ('Жукова', 'Фекла'),
 ('Жданова', 'Ирина'),
 ('Валерия', 'Овчинникова'),
 ('Костина', 'Кира'),
 ('Блохина', 'Ираида'),
 ('Мельникова', 'Светлана'),
 ('Васильева', 'Оксана'),
 ('Сорокина', 'Валерия'),
 ('Вишнякова', 'Анжела'),
 ('Борисова', 'Марина'),
 ('Калашников', 'Евгений'),
 ('Трофимов', 'Владислав'),
 ('Бирюков', 'Герасим'),
 ('Антонов', 'Анатолий'),
 ('Морозов', 'Кирилл'),
 ('Назаров', 'Икром'),
 ('Суханов', 'Константин'),
 ('Захаров', 'Софон'),
 ('Аксенов', 'Валерий'),
 ('Панов', 'Арсений'),
 ('Федоров', 'Гостомысл'),
 ('Лазарев', 'Константин'),
 ('Кондратьев', 'Николай'),
 ('Воронова', 'Антонина'),
 ('Веселов', 'Тимур'),
 ('Юдин', 'Савва'),
 ('Пономарев', 'Варфоромей'),
 ('Жуков', 'Пров'),
 ('Васильев', 'Матвей'),
 ('Кудряшов', 'Роман'),
 ('Ковалев', 'Ефим'),
 ('Жуковский', 'Юрий'),
 ('Комаров', 'Ипат'),
 ('Ефимов', 'Яков'),
 ('Кулаков', 'Феофан'),
 ('Журавлев', 'Фома'),
 ('Ширяев', 'Андрей'),
 ('Ершов', 'Митрофан'),
 ('Бирюков', 'Мартин'),
 ('Ситников', 'Викентий'),
 ('Русаков', 'Давид'),
 ('Симонов', 'Семен'),
 ('Гуляев', 'Кузьма'),
 ('Вячеслав', 'Пахомов'),
 ('Архипов', 'Андрей'),
 ('Владимиров', 'Анатолий'),
 ('Петров', 'Вадим'),
 ('Иванова', 'Мария'),
 ('Киселев', 'Владимир'),
 ('Петров', 'Антон')]

# Домашнее задание

1. Выполнить отображение БД Chinook

<img src="../Img/chinook_ERD.png" style="width:100%">

2. Выполнить запросы с помощью подзапросов.

2.1. Составьте запрос, выполняющий вывод информации о счетах клиентов из Бразилии. Результат должен содержать фамилию и имя клиента, идентификатор счета, дату выставления счета, название страны плательщика (Billing Country).

2.2. Покажите сотрудников, подчиняющихся сотруднику *Nancy Edwards*.

2.3. Покажите трэки в жанре *Classical*, длящиеся более 8 минут.

2.4. Покажите альбомы, в составе которых более 25 трэков.

2.5. Покажите жанры, в составе которых имеются трэки, длящиеся более 18 минут.

2.6. Покажите артистов в жанре *Classical*.

2.7. Найдите артистов, записавших альбомы, в которых более 20 произведений.