<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 5.1. Соединение таблиц. Оператор JOIN</p> 

<a id = Home></a>

**11 апреля 2022 года, пн**<br>
10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)


**14 апреля 2022 года, чт**<br>
17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


**21 апреля 2022 года, чт**<br>
18:55 - 20:25<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>

<p style="font-size:22px;text-align:center">Семинар 5.2. Соединение таблиц. Оператор JOIN</p>

**14 апреля 2022 года, чт**<br>
18:55 - 20:25<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>

**18 апреля 2022 года, пн**<br>
10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>

11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

**28 апреля 2022 года, чт**<br>
17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

In [2]:
#! pip install sqlalchemy

In [3]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists

In [4]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [5]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [6]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания с помощью соедиинения таблиц в Jupyter Notebook </p>

1. Покажите названия университетов с указанием количества студентов, обучающихся на каждом курсе.

2. Покажите фамилии, имена преподавателей и названия предметов, которые они преподают. Отсортировать по фамилии преподавателя.

3. Покажите суммарное количество часов каждого преподавателя в каждом семестре. Результат должен содержать фамилию, имя преподавателя, номер семестра, число часов.

4. Составьте список названий университетов вместе с названиями преподаваемых в них предметов.

5. Составьте список названий университетов с указанием суммарного количества аудиторных часов в каждом семестре.

6. Сформируйте список преподавателей с указанием суммарного количества часов, отведенных для обучения каждому из предметов.

7. Напишите запрос для сортировки списка названий университетов по значениям максимальной стипендии, выплачиваемой студентам.

8. Напишите запрос для получения списка названий университетов вместе с фамилиями и именами самых молодых студентов, обучаемых в них.

9. Сформируйте список фамилий и имён студентов вместе с названиями предметов и оценками, полученными по каждому предмету на экзаменах. Отсортируйте результат по названию предмета.

10. Напишите запрос для получения списка названий предметов вместе с фамилиями и именами студентов, получивших по данному предмету максимальную оценку. Результат отсортируйте по названию приедмета и по оценке.

11. Напишите запрос для получения списка предметов вместе с фамилиями студентов, сдававших экзамен по данному предмету последними. Результат упорядочить по дате.

12. Напишите запрос для получения списка предметов вместе с фамилиями студентов, первыми сдавших (оценка больше двух) экзамен по данному предмету.

13. Напишите запрос для получения списка преподавателей, преподающих более одного предмета. Отсортируйте результат по фамилии преподавателя.

14. Напишите запрос для получения списка (без повторов) студентов, сдававших экзамены по какому-либо из предметов более одного раза. Результат должен содержать идентификатор, фамилию, имя студента, название предмета. Результат необходимо упорядочить по идентификатору студента.

15. Напишите запрос для получения списка названий университетов вместе с фамилиями студентов, получивших хотя бы одну неудовлетворительную оценку. Результат отсортируйте по названию университета.

16. Напишите запрос, выполняющий вывод данных о предметах обучения, которые преподает Колесников. Распечатайте фамилию преподавателя и все столбцы таблицы предметов. результат отсортируйте по названию предмета.

17. Напишите запрос, выполняющий вывод идентификаторов, имен и фамилий преподавателей, проводящих занятия в двух и более семестрах. Отсортируйте результат по фамилии преподавателя.

18. Напишите запрос, выполняющий вывод количества часов занятий, проводимых преподавателем Лагутиным. Результат должен содержать одно число - количество часов.

19. Напишите запрос, выполняющий вывод фамилий преподавателей, учебная нагрузка которых (количество учебных часов) превышает нагрузку преподавателя Лагутина. Список преподавателей отсортируйте по возрастанию.

20. Напишите запрос, выполняющий вывод фамилий и имён преподавателей университетов с рейтингом, меньшим 350. Распечатайте фамилию, имя преподавателя, название университета. Отсортируйте по фамили преподавателя.

21. Напишите запрос, выполняющий вывод общего количества учебных часов занятий, проводимых для студентов первого курса ВГУ.

22. Напишите запрос, выполняющий вывод среднего количества учебных часов предметов обучения, преподаваемых студентам второго курса ВГУ.

23. Напишите запрос, выполняющий вывод списка фамилий студентов, имеющих две или более отличных оценок в каждом семестре.

24. Приведите как можно больше формулировок запроса “Получить фамилии студентов, сдававших экзамен по информатике”.

25. Приведите как можно больше формулировок запроса “Получить фамилии преподавателей, преподающих информатику".

# Решение

In [10]:
st = student.alias('st')
em = exam_marks.alias('em')
u = university.alias('u')
su = subject.alias('su')
l = lecturer.alias('l')
sl = subj_lect.alias('sl')

In [9]:
#1. Покажите названия университетов с указанием количества студентов, обучающихся на каждом курсе.

s = select(university.c.univ_name, student.c.kurs, func.count(student.c.student_id))
s = s.select_from(university.join(student))
s = s.group_by(university.c.univ_name, student.c.kurs)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_name, student.kurs, count(student.student_id) AS count_1
FROM university JOIN student ON university.univ_id = student.univ_id GROUP BY university.univ_name, student.kurs
44

[('БГУ', 1, 1),
 ('БГУ', 2, 1),
 ('БГУ', 3, 3),
 ('БГУ', 4, 2),
 ('БГУ', 5, 2),
 ('ВГМА', 1, 2),
 ('ВГМА', 2, 3),
 ('ВГМА', 4, 1),
 ('ВГМА', 5, 1),
 ('ВГУ', 1, 4)]

In [14]:
"""
2. Покажите фамилии, имена преподавателей и названия предметов, 
которые они преподают. Отсортировать по фамилии преподавателя.
"""
s = select(l.c.surname, l.c.name, su.c.subj_name)
s = s.select_from(l)
s = s.join(sl)
s = s.join(su)
s=s.order_by(l.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT l.surname, l.name, su.subj_name
FROM lecturer AS l JOIN subj_lect AS sl ON l.lecturer_id = sl.lecturer_id JOIN subject AS su ON su.subj_id = sl.subj_id ORDER BY l.surname
24

[('Алексеев', 'Елисей', 'ОБЖ'),
 ('Беляков', 'Мефодий', 'Информатика'),
 ('Беспалов', 'Юлиан', 'Информатика'),
 ('Беспалов', 'Юлиан', 'Физкультура'),
 ('Брагина', 'Нинель', 'ОБЖ'),
 ('Волков', 'Михаил', 'Английский язык'),
 ('Волков', 'Михаил', 'Программирование на языках Python и SQL'),
 ('Дорофеев', 'Прокофий', 'Программирование на языках Python и SQL'),
 ('Зайцева', 'Юлия', 'История'),
 ('Зайцева', 'Юлия', 'Теория вероятностей и математическая статистика'),
 ('Зимин', 'Юлиан', 'Программирование на языках Python и SQL'),
 ('Колесников', 'Борис', 'Физика'),
 ('Кудрявцева', 'Анна', 'Информатика'),
 ('Куликова', 'Ираида', 'Математика'),
 ('Куликова', 'Ираида', 'История'),
 ('Лагутин', 'Павел', 'Английский язык'),
 ('Максимова', 'Иванна', 'Анализ данных'),
 ('Максимова', 'Иванна', 'Программирование на языках Python и SQL'),
 ('Мамонтова', 'Акулина', 'Программирование на языках Python и SQL'),
 ('Никонов', 'Иван', 'История'),
 ('Сафонова', 'Лукия', 'Английский язык'),
 ('Струков', 'Николай', 'ОБЖ'),
 ('Струков', 'Николай', 'Информатика'),
 ('Тихонов', 'Ладомир', 'Информатика')]

In [20]:
"""
3. Покажите суммарное количество часов каждого преподавателя в каждом семестре.
Результат должен содержать фамилию, имя преподавателя, номер семестра, число часов.
"""
s = select(l.c.surname, l.c.name, su.c.semester, func.sum(su.c.hour).label('hours'))
s = s.select_from(l)
s = s.join(sl)
s = s.join(su)
s = s.group_by(l.c.surname, l.c.name, su.c.semester)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT l.surname, l.name, su.semester, sum(su.hour) AS hours
FROM lecturer AS l JOIN subj_lect AS sl ON l.lecturer_id = sl.lecturer_id JOIN subject AS su ON su.subj_id = sl.subj_id GROUP BY l.surname, l.name, su.semester
23

[('Алексеев', 'Елисей', 2, 34),
 ('Беляков', 'Мефодий', 1, 56),
 ('Беспалов', 'Юлиан', 1, 56),
 ('Беспалов', 'Юлиан', 5, 34),
 ('Брагина', 'Нинель', 2, 34),
 ('Волков', 'Михаил', 2, 34),
 ('Волков', 'Михаил', 3, 56),
 ('Дорофеев', 'Прокофий', 2, 34),
 ('Зайцева', 'Юлия', 4, 106),
 ('Зимин', 'Юлиан', 2, 34)]

In [25]:
"""
4. Составьте список названий университетов вместе с названиями преподаваемых в них предметов.
"""
s = select(u.c.univ_name.distinct(), su.c.subj_name)
s = s.select_from(u.join(l).join(sl).join(su))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT DISTINCT u.univ_name, su.subj_name
FROM university AS u JOIN lecturer AS l ON u.univ_id = l.univ_id JOIN subj_lect AS sl ON l.lecturer_id = sl.lecturer_id JOIN subject AS su ON su.subj_id = sl.subj_id
22

[('ВГУ', 'История'),
 ('ВГУ', 'ОБЖ'),
 ('МГУ', 'Английский язык'),
 ('КФУ', 'Математика'),
 ('ФГБОУ "Политех"', 'Программирование на языках Python и SQL'),
 ('МГУ', 'ОБЖ'),
 ('ВГУ', 'Анализ данных'),
 ('ВГУ', 'Программирование на языках Python и SQL'),
 ('РГУ', 'Программирование на языках Python и SQL'),
 ('НГУ', 'Программирование на языках Python и SQL'),
 ('КФУ', 'История'),
 ('ФГБОУ "Политех"', 'Английский язык'),
 ('МГТУ им. Баумана', 'Английский язык'),
 ('ТГУ', 'Информатика'),
 ('МГУ', 'Информатика'),
 ('КФУ', 'Информатика'),
 ('РГУ', 'Информатика'),
 ('МГТУ им. Баумана', 'Программирование на языках Python и SQL'),
 ('УЛГУ', 'ОБЖ'),
 ('ТГУ', 'Физкультура'),
 ('ВГУ', 'Физика'),
 ('ВГУ', 'Теория вероятностей и математическая статистика')]

In [24]:
"""
5. Составьте список названий университетов с указанием суммарного количества 
аудиторных часов в каждом семестре.
"""

s = select(u.c.univ_name, su.c.semester, func.sum(su.c.hour).label('hours'))
s = s.join_from(l, u, u.c.univ_id==l.c.univ_id)
s = s.join(sl, sl.c.lecturer_id==l.c.lecturer_id)
s = s.join(su, sl.c.subj_id==su.c.subj_id)
s = s.group_by(u.c.univ_name, su.c.semester)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT u.univ_name, su.semester, sum(su.hour) AS hours
FROM lecturer AS l JOIN university AS u ON u.univ_id = l.univ_id JOIN subj_lect AS sl ON sl.lecturer_id = l.lecturer_id JOIN subject AS su ON sl.subj_id = su.subj_id GROUP BY u.univ_name, su.semester
19

[('ВГУ', 1, 76),
 ('ВГУ', 2, 68),
 ('ВГУ', 4, 140),
 ('КФУ', 1, 56),
 ('КФУ', 2, 56),
 ('КФУ', 4, 34),
 ('МГТУ им. Баумана', 2, 34),
 ('МГТУ им. Баумана', 3, 56),
 ('МГУ', 1, 56),
 ('МГУ', 2, 34),
 ('МГУ', 3, 56),
 ('НГУ', 2, 34),
 ('РГУ', 1, 56),
 ('РГУ', 2, 34),
 ('ТГУ', 1, 112),
 ('ТГУ', 5, 34),
 ('УЛГУ', 2, 34),
 ('ФГБОУ "Политех"', 2, 34),
 ('ФГБОУ "Политех"', 3, 56)]

In [29]:
"""
6. Сформируйте список преподавателей с указанием суммарного количества часов, 
отведенных для обучения каждому из предметов.
"""

s = select(l.c.surname, l.c.name, su.c.subj_name, su.c.hour)
s = s.join(sl, sl.c.lecturer_id==l.c.lecturer_id)
s = s.join(su, sl.c.subj_id==su.c.subj_id)
s = s.order_by(l.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT l.surname, l.name, su.subj_name, su.hour
FROM lecturer AS l JOIN subj_lect AS sl ON sl.lecturer_id = l.lecturer_id JOIN subject AS su ON sl.subj_id = su.subj_id ORDER BY l.surname
24

[('Алексеев', 'Елисей', 'ОБЖ', 34),
 ('Беляков', 'Мефодий', 'Информатика', 56),
 ('Беспалов', 'Юлиан', 'Информатика', 56),
 ('Беспалов', 'Юлиан', 'Физкультура', 34),
 ('Брагина', 'Нинель', 'ОБЖ', 34),
 ('Волков', 'Михаил', 'Английский язык', 56),
 ('Волков', 'Михаил', 'Программирование на языках Python и SQL', 34),
 ('Дорофеев', 'Прокофий', 'Программирование на языках Python и SQL', 34),
 ('Зайцева', 'Юлия', 'История', 34),
 ('Зайцева', 'Юлия', 'Теория вероятностей и математическая статистика', 72)]

In [30]:
"""
7. Напишите запрос для сортировки списка названий университетов 
по значениям максимальной стипендии, выплачиваемой студентам.
"""

s = select(university.c.univ_name, func.max(student.c.stipend))
s = s.join(student)
 
s = s.group_by(university.c.univ_name)
s = s.order_by(func.max(student.c.stipend).desc())
 
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_name, max(student.stipend) AS max_1
FROM university JOIN student ON university.univ_id = student.univ_id GROUP BY university.univ_name ORDER BY max(student.stipend) DESC
12

[('ФинУ', 250),
 ('УЛГУ', 250),
 ('ТГУ', 250),
 ('РГУ', 250),
 ('НГУ', 250),
 ('МГУ', 250),
 ('КФУ', 250),
 ('ВГУ', 250),
 ('БГУ', 250),
 ('ФГБОУ "Политех"', 200),
 ('МГТУ им. Баумана', 200),
 ('ВГМА', 200)]

In [34]:
"""
8. Напишите запрос для получения списка названий университетов вместе 
с фамилиями и именами самых молодых студентов, обучаемых в них.
"""

st2 = student.alias('st2')

subq = select(func.max(func.date(st2.c.birthday)))
subq = subq.where(st2.c.univ_id == st.c.univ_id).scalar_subquery()

s = select(u.c.univ_name, st.c.surname + ' ' + st.c.name)
s = s.join_from(u, st)
s = s.where(func.date(st.c.birthday) == subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT u.univ_name, st.surname || :surname_1 || st.name AS anon_1
FROM university AS u JOIN student AS st ON u.univ_id = st.univ_id
WHERE date(st.birthday) = (SELECT max(date(st2.birthday)) AS max_1
FROM student AS st2
WHERE st2.univ_id = st.univ_id)
12

[('ВГМА', 'Ордуханян Рафаэль'),
 ('УЛГУ', 'Дуб Елизавета'),
 ('НГУ', 'Журавлева Вера'),
 ('ТГУ', 'Пак Ирина'),
 ('ВГУ', 'Некрасова Вероника'),
 ('МГТУ им. Баумана', 'Шубина Елена'),
 ('МГУ', 'Гуляева Рукижат'),
 ('КФУ', 'Назаров Икром'),
 ('ФГБОУ "Политех"', 'Ситников Викентий'),
 ('БГУ', 'Владимиров Анатолий'),
 ('РГУ', 'Иванова Мария'),
 ('ФинУ', 'Киселев Владимир')]

In [36]:
"""
9. Сформируйте список фамилий и имён студентов вместе с названиями предметов и оценками,
полученными по каждому предмету на экзаменах. Отсортируйте результат по названию предмета
"""

s = select(student.c.surname, student.c.name, subject.c.subj_name, exam_marks.c.mark)
s = s.select_from(student.join(exam_marks).join(subject))
s = s.order_by(subject.c.subj_name)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name, subject.subj_name, exam_marks.mark
FROM student JOIN exam_marks ON student.student_id = exam_marks.student_id JOIN subject ON subject.subj_id = exam_marks.subj_id ORDER BY subject.subj_name
47

[('Афанасьева', 'Анжелика', 'Анализ данных', 1),
 ('Федоров', 'Гостомысл', 'Анализ данных', 1),
 ('Мельникова', 'Дарья', 'Анализ данных', 2),
 ('Мишина', 'Светлана', 'Анализ данных', 1),
 ('Кузнецов', 'Борис', 'Анализ данных', 5),
 ('Семенова', 'Вероника', 'Английский язык', 4),
 ('Борисова', 'Марина', 'Английский язык', 5),
 ('Калашников', 'Евгений', 'Английский язык', 2),
 ('Пак', 'Ирина', 'Английский язык', 4),
 ('Вишнякова', 'Анжела', 'Информатика', 1)]

In [38]:
"""
10. Напишите запрос для получения списка названий предметов 
вместе с фамилиями и именами студентов, получивших по данному предмету 
максимальную оценку. Результат отсортируйте по названию приедмета и по оценке.
"""

em2 = exam_marks.alias('em2')

subq = select(func.max(em2.c.mark))
subq = subq.where(em2.c.subj_id == em.c.subj_id).scalar_subquery()

s = select(su.c.subj_name, st.c.surname, st.c.name)
s = s.join_from(st, em)
s = s.join(su)
s = s.where(em.c.mark == subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT su.subj_name, st.surname, st.name
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id JOIN subject AS su ON su.subj_id = em.subj_id
WHERE em.mark = (SELECT max(em2.mark) AS max_1
FROM exam_marks AS em2
WHERE em2.subj_id = em.subj_id)
14

[('Физкультура', 'Казакова', 'Мария'),
 ('Физкультура', 'Жук', 'Оксана'),
 ('Физика', 'Блохина', 'Ираида'),
 ('История', 'Жданова', 'Ирина'),
 ('Информатика', 'Мельникова', 'Светлана'),
 ('Английский язык', 'Борисова', 'Марина'),
 ('Математика', 'Петрова', 'Екатерина'),
 ('ОБЖ', 'Васильев', 'Матвей'),
 ('Анализ данных', 'Кузнецов', 'Борис'),
 ('История', 'Лапина', 'Элеонора')]

In [53]:
"""
11.Напишите запрос для получения списка предметов вместе с фамилиями студентов, 
сдававших экзамен по данному предмету последними. Результат упорядочить по дате.
"""

sg = select(em.c.subj_id, func.max(em.c.exam_date).label('max'))
sg = sg.group_by(em.c.subj_id)
sg = sg.subquery()

s = select(su.c.subj_name, st.c.surname)
s = s.join_from(su, em, em.c.subj_id==su.c.subj_id)
s = s.join(st, em.c.student_id==st.c.student_id)
s = s.where(em.c.subj_id==sg.c.subj_id)
s = s.where(em.c.exam_date==text("max"))
s = s.order_by(em.c.exam_date)

result = conn.execute(s).fetchall()

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT su.subj_name, st.surname
FROM (SELECT em.subj_id AS subj_id, max(em.exam_date) AS max
FROM exam_marks AS em GROUP BY em.subj_id) AS anon_1, subject AS su JOIN exam_marks AS em ON em.subj_id = su.subj_id JOIN student AS st ON em.student_id = st.student_id
WHERE em.subj_id = anon_1.subj_id AND em.exam_date = max ORDER BY em.exam_date
10

[('Математика', 'Иванов'),
 ('Информатика', 'Ордуханян'),
 ('Анализ данных', 'Афанасьева'),
 ('ОБЖ', 'Калашников'),
 ('Физика', 'Трофимов'),
 ('Программирование на языках Python и SQL', 'Пак'),
 ('Английский язык', 'Пак'),
 ('Обработка данных и моделирование в Excel', 'Мельникова'),
 ('Физкультура', 'Пак'),
 ('История', 'Мельникова')]